section {
    box-sizing: border-box;
    padding: 0;

    &.sidebar {
        background: $lightThemeForeground;
        height: calc(100% - 50px);
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 50px;
        transition: width 0.2s;
        width: 0;
        z-index: 1;

        @media(min-width: $breakpoint-small) {
            width: 50px;
        }

        @media(min-width: $breakpoint-medium) {
            width: 250px;

            &.collapsed {
                width: 50px;
            }
        }

        .theme-dark & {
            background: $darkThemeForeground;
        }

        &.open {
            width: 250px;
        }
    }

    &.contentArea {
        height: calc(100% - 100px);
        left: 0;
        overflow: auto;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 50px;
        transition: left 0.2s, width 0.2s;
        
        @media(min-width: $breakpoint-small) {
            height: calc(100% - 50px);
            left: 50px;
        }

        @media(min-width: $breakpoint-medium) {
            left: 250px;

            &.expanded {
                left: 50px;
                transition: 0;
            }
        }
    }
}

.hamburger-container {
    background: $lightThemeForeground;
    transition: width 0.2s;
    width: 50px;

    @media(min-width: $breakpoint-medium) {
        width: 250px;

        &.collapsed {
            width: 50px;
        }
    }

    .theme-dark & {
        background: $darkThemeForeground;
    }
}

.hamburger {
    cursor: pointer;
    display: table;
    height: 30px;
    padding: 10px 0;
    width: 50px;
    vertical-align: middle;

    &:before {
        content: " ";
        height: 50px;
        position: absolute;
        top: 0;
        width: 50px;
    }

    &:hover {
        &:before {
            background: $lightThemeButtonBackgroundPrimary;

            .theme-dark & {
                background: $darkThemeButtonBackgroundPrimary;
            }
        }
    }

    .icon {
        position: relative;
    }
}

.control {
    box-sizing: border-box;
    clear: both;
    padding: 10px 0;

    &:last-of-type {
        padding-bottom: 50px;
    }
}

.actionBar {
    background: $lightThemeForegroundSecondary;
    bottom: 0;
    color: #000000;
    height: 50px;
    left: 0;
    position: fixed;
    right: 0;

    .theme-dark & {
        background: $darkThemeForegroundSecondary;
        color: #FFFFFF;
    }

    @media(min-width: $breakpoint-small) {
        float: right;
        position: relative;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            display: inline-block;

            a {
                display: inline-block;
                font-family: 'Segoe MDL2 Assets';
                padding: 0 14px;

                &:hover {
                    background: rgba(0,0,0,0.1);

                    .theme-dark & {
                        background: rgba(255,255,255,0.1);
                    }
                }
            }
        }
    }

    .action {
        color: #000000;

        .theme-dark & {
            color: #FFFFFF;
        }
    }
}