.colorSquaresContainer {

    clear: both;
    max-width: 275px;
}

.colorSquare {
    float: left;
    height: 40px;
    margin: 2px;
    width: 40px;

    @include accentColorBackground();

    &.selected {
        border: 2px solid $lightThemeButtonSelected;
        margin: 0;

        .theme-dark & {
            border-color: $darkThemeButtonSelected
        }
    }
}