<h2>Guidelines Settings</h2>

<div>
    <p>Use dark theme</p>
    <input type="checkbox" id="switch1" name="switch1" class="toggleSwitch" ng-model="layoutCtrl.layout.isThemeDark" />
    <label for="switch1"><span ng-show="layoutCtrl.layout.isThemeDark">On</span><span ng-hide="layoutCtrl.layout.isThemeDark">Off</span></label>
</div>

<p>Select your accent colour</p>
<div class="colorSquaresContainer">
    <div class="colorSquare accentColor-{{$index + 1}}" ng-repeat="color in layoutCtrl.layout.colors" ng-click="layoutCtrl.layout.selectAccentColor($index)" ng-class="{'selected' : layoutCtrl.layout.accentColor == $index}"></div>
</div>
