<div class="hamburger-container" ng-class="{ 'collapsed' : layoutCtrl.layout.isSidebarCollapsed}">
    <div class="hamburger" ng-click="layoutCtrl.windowWidth < 640 ? layoutCtrl.layout.toggleSidebar() : layoutCtrl.layout.expandCollapseSidebar()">
        <div class="mdl2-menu icon"></div>
    </div>
</div>
<section class="sidebar" ng-class="{ 'open' : layoutCtrl.layout.isSidebarOpen, 'collapsed' : layoutCtrl.layout.isSidebarCollapsed}">
    <ul>
        <li ui-sref="home" ui-sref-active="active"><div class="mdl2-home icon"></div><div class="title">Home</div></li>
        <li ui-sref="controls and patterns" ui-sref-active="active"><div class="mdl2-controls icon"></div><div class="title">Controls and Patterns</div></li>
        <li ui-sref="settings" ui-sref-active="active"><div class="mdl2-settings icon"></div><div class="title">Settings</div></li>
    </ul>
</section>
